data:
  month_count: 24
  processed_path: ./data/ckd_data/processed/ckd_merged_data_for_modeling.csv
  raw_path: ./data/ckd_data/raw/

model:
  type: bilstm
  input_dim: 37
  hidden_dim: 128
  num_layers: 2
  output_dim: 1
  dropout: 0.2
  learning_rate: 0.001
  batch_size: 32
  n_epochs: 500
  patience: 7

hyperparameters:
  batch_size:
    - 16
    - 32
    - 64
  dropout:
    - 0.1
    - 0.2
    - 0.3
  hidden_dim:
    - 64
    - 128
    - 256
  learning_rate:
    - 0.0001
    - 0.001
    - 0.01
  num_layers:
    - 1
    - 2
    - 3

paths:
  results_path: ./results/ckd/
  save_path: ./results/ckd/

tuning:
  n_epochs: 500 